.createAccount_outer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
}
.createAccount_innerbox{
    width:80%;
    height: fit-content;
    background-color: white;
    padding: 3%;
}
.createAccount_logo,.createAccount_signupOptions,.createAccount_remember_me,.createAccount_signup,.createAccount_or,.createAccount_signupUsing{
    text-align: center;
    margin: 2%;
}

/* .createAccount_input{display: flex;} */
.createAccount_email,.createAccount_password{
    width: 80%;
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    font-size: large;

}
.createAccount_input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.createAccount_signupOptions .fa-brands{
    margin: 0 2% 0 2%;
    transition: 0.2s;
}
.createAccount_signupOptions .fa-brands:hover{
    transform: scale(1.5);
    color: blue;
}


.createAccount_checkbox{
    margin: 0 2% 0 ;
    vertical-align: -5px;
    width: 22px;
    height: 22px;
}

.createAccount_login{
    text-align: right;
}
.createAccount_login_link{
    text-decoration: none;
    font-size:large;
}
.createAccount_button {
    align-items: center;
    appearance: none;
    background-color: blue;
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}