:root{
    --homePage_second_tab_chart_height:70%;
    --homePage_second_tab_chart_mobile_height:65%;
}


.homePage_outer{
    width: 100vw;
    height: 90vh;
    padding: 0 8%;
    background: lightsteelblue;

}

.homePage_row{
    display: flex;
    height: 100%;
    
}
.homePage_cal_tab{
    flex: 1;
    border-left: 1px solid black;
     
}
/* right side */
.homePage_second_tab{
    flex: 2;
   
    border-right: 1px solid black;
    border-left: 1px solid black; 
}
.homePage_second_tab_chart{
    height: var(--homePage_second_tab_chart_height);
}
.homePage_second_tab_tracker{
    height: calc(100% - var(--homePage_second_tab_chart_height));
    
}



@media screen and (max-width:960px){
    
    .homePage_outer{
        width: 100vw;
        height: 100%;
        padding: 0 2%;
    }
    .homePage_row{
        display: block;
        
        flex-direction: column;
    }
    .homePage_second_tab{
        height: 120vh;    
        
    }
    
    .homePage_cal_tab{
        height: 90vh;
        
    }
    .homePage_second_tab_chart{
        height: var(--homePage_second_tab_chart_mobile_height);
        
    }
    .homePage_second_tab_tracker{
        height: calc(100% - var(--homePage_second_tab_chart_mobile_height));
        
    }
    

}