
.container{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #403b63;
    /* ADDED */
    flex-wrap: wrap;
    
}



.outerBox{
    background:#a9a9a9ed;
    flex-direction: column;
    display: flex;
    
    align-items: center;
    justify-content: center;
 
    margin: 2%;
    height: 90vh;
    width: 45%;
    border-radius: 26px;
    background: #403b63;
    box-shadow:  5px -5px 0px #1e1c2f,
             -5px 5px 0px #625a97;

    
    
}





@media screen and (max-width:960px){

    .outerBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:#a9a9a9ed;
        margin: 4%;
        width: 90%;
        height: 90vh;
        border-radius: 26px;
        background: #403b63;
        box-shadow:  5px -5px 0px #625a97,
                 -5px 5px 0px #625a97;
        
    }

}