.login_outer {

    /* Black w/ opacity */
    z-index: 3;
    position: fixed;

    width: 100%;
    height: 100%;
    
    /* background-color: red; */
  

}
.login_line{
    border-top: 1px solid black;
    margin: 1% 0 5% 0;
}
.login_innerbox{
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width:80%;
    height: 90vh;
    
    background-color: lightsteelblue;
    padding: 1%;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login_error{
    width: 80%;
    color: red;
}
.login_logo,.login_signupOptions,.login_remember_me,.login_signup,.login_or,.login_signupUsing{
    text-align: center;
    
}

/* .login_input{display: flex;} */
.login_email,.login_password{
    width: 80%;
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    font-size: large;

}
.login_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login_signupOptions .fa-brands{
    margin: 0 2% 0 2%;
    transition: 0.2s;
}
.login_signupOptions .fa-brands:hover{
    transform: scale(1.5);
    color: blue;
}


.login_checkbox{
    margin: 0 2% 0 ;
    vertical-align: -5px;
    width: 22px;
    height: 22px;
}

.login_login{
    text-align: right;
}
.login_login_link{
    text-decoration: none;
    font-size:large;
}
.login_button {
    align-items: center;
    appearance: none;
    background-color: blue;
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}