.NavbarItems{
    background: #625a97;
    height: 10vh;
    display: flex;
    align-items: center;  
    font-size: 1.2rem;  
}

.nav-menu{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
}

.nav-menu.active{
    background: #a9a9a9;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}


.nav-links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.nav-links:hover{
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.menu-icon{
    /* This is the actual icon */
    
    position: relative;
    margin-right: 2%;
    font-size: 1.8rem;
    cursor: pointer;
      
}

.login{

    
}

/* This will help to allign the navbar icons  */
.NavbarItems > .menu-icon.container:nth-of-type(1) { margin-left: 5%; } 

/* PUSH LOGIN TO FAR RIGHT USING MARGIN RIGHT AUTO */
.NavbarItems > .menu-icon.container:nth-of-type(3) { 
    margin-right: auto;
    
} 
/* Change login to fit inside box */
.NavbarItems > .menu-icon.container:nth-of-type(4) { 
    width: 100px;
    margin-right: 5%;
    
} 
i{
    font-style: normal;
    font-weight: medium;
    
}

.menu-icon.container{
    /* Icon container used to build border around icon */
    background: #625a97;
    border: 1px solid #1e1c2f;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    
    
}

/* -----------Settings Icon----------- */

.fa-gear:hover {
    animation: gearanimate 5s 1;
}
@keyframes gearanimate {
    
        from{
            color: red;
            transform: rotate(0deg);
        }to{
            transform: rotate(360deg);
        }
} 

/* -----------Settings Icon----------- */







@media screen and (max-width:960px){
    .NavbarItems{
        position:relative;
    }
    .nav-menu{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background: #1e1c2f;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        font-weight: bold;
        color: white;
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        color: whitesmoke;

        
    }
    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%,50%);
    }
    .menu-icon{
        display: flex;
        position: relative;
        font-size: 1.8rem;
        cursor: pointer;
        
    }
    .menu-icon.container{
        border: 1px solid #1e1c2f;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
    
    }
}

