
.container{
    
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #403b63;
}
.outerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#a9a9a9ed;
 
    width: 50%;
    height: 90%;
    border-radius: 26px;
    background: #403b63;
    box-shadow:  5px -5px 0px #1e1c2f,
             -5px 5px 0px #625a97;
    
}

.outerBox > div {
    
    background-color: #625a97;
    border: 1px solid #1e1c2f;
    width: 90%;
    margin: 6px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    
    

    /* border-radius: 26px;
    background: #403b63;
    box-shadow:  5px -5px 0px #1e1c2f,
             -5px 5px 0px #625a97; */
}
.outerBox > div:nth-of-type(1) { flex: 0.15 0 0; }
.outerBox > div:nth-of-type(2) { flex: 0.15 0 0; }
.outerBox > div:nth-of-type(3) { flex: 0.15 0 0; }
.outerBox > div:nth-of-type(4) { flex: 0.15 0 0; }
.outerBox > div:nth-of-type(5) { flex: 0.15 0 0; }
.outerBox > div:nth-of-type(6) { flex: 0.15 0 0; }

.outerBox p{
    margin: 1%;
    text-align: center;  
    
    
}

.logoBox{
    margin: 7% 2% 2% 2%;
      
}


.outputBox{
    
    margin:2%;
    /* border: 1px solid red; */
    border-radius: 15px;
    width: 90%; 
    display: flex;
    
    justify-content: center;
    align-items: center;
}



.outputBox > div:nth-of-type(1) { flex-grow: 1; }
.outputBox > div:nth-of-type(2) { flex-grow: 1; }
.outputBox > div:nth-of-type(3) { flex-grow: 1; }


.placeHolderOutput{
    font-size: 3vh;
    font-weight: bold;
    

}

/* button{
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    border: none;
} */
button:hover { 
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

button {
    text-align: center;
    
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    
    border: none;
    color: black;
    
   background: none;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
  
  }
  button:after {
    content: "";
    background: limegreen;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.outerBox input{
    /* border: 1px solid red;
    box-sizing: border-box;
    padding: 2% 10%;
    text-align: center;
    display: block;
    margin: 0 auto; */

    padding: 7px;
    font-size: 18px;
    border-width: 0px;
    border-color: #cbcbcb;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 22px;
    box-shadow: 1px 0px 10px rgba(30,28,47,.75);
    display: block;
    margin: 0 auto; 
    font-weight: bold;
    text-align: center;
}

.outerBox input[type=number]:focus {
    
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fa-copy{
    color: #1e1c2f;
}

/* .fa-bitcoin-sign{
    animation: fa-bitcoin-sign-spin infinite 20s linear;
    color: #FFD700;
}

@keyframes fa-bitcoin-sign-spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
} */

@media screen and (max-width:960px){

    .outerBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:#a9a9a9ed;
     
        width: 80%;
        height: 90%;
        border-radius: 26px;
        background: #403b63;
        box-shadow:  5px -5px 0px #1e1c2f,
                 -5px 5px 0px #625a97;
        
    }
    .placeHolderOutput{
        font-size: small;
    }
    
}