.calc_outer {
    width: 100%;
    background: white;
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    
  
}

.calc_inputBox {

    
  

}




::placeholder {
    color: black;
    opacity: 1;
}

.calc_input {

    width: 100%;
    
    font-size: large;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: large;
    display: block;
    text-align: center;

}

.calc_output {
    width: 100%;
    
    
    display: flex;
    text-align: center;
    font-size: large;
}

.calc_radio {
    margin: 2%;
    text-align: center;
    width: 100%;
}

.calc_output{
    justify-content: space-evenly;
    align-items: center;
}

    


.calc_copyButton {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: large;
}

.calc_copyButton:hover {
    background-color: green;
    border-radius: 100px;
    width: 80px
}

.placeHolderOutput {
    margin: 4%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width:960px) {
    .calc_outer{
        
       
    }

    .calc_inputBox {

        width: 100%;
        

    }



    /* Output box */
    .calc_output {
        width: 100%;
        
        
        display: flex;
        text-align: center;
        font-size: large;
        height: 5%;
    }

    /* shrink input box */
    .calc_input {

        width: 100%;
        height: 30px;
        font-size: large;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
        font-size: large;
        display: block;
        text-align: center;
    
    }

}