/* .hell{
    width: 90%;
}
.chartBox{
    background:#a9a9a9ed;
    flex-direction: column;
    display: flex;
    
    align-items: center;
    justify-content: center;
 
    margin: 2%;
    height: 90vh;
    width: 45%;
    border-radius: 26px;
    background: #403b63;
    box-shadow:  5px -5px 0px #1e1c2f,
             -5px 5px 0px #625a97;
    
} */
