/* .hell{
    width: 90%;
}
.chartBox{
    background:#a9a9a9ed;
    flex-direction: column;
    display: flex;
    
    align-items: center;
    justify-content: center;
 
    margin: 2%;
    height: 90vh;
    width: 45%;
    border-radius: 26px;
    background: #403b63;
    box-shadow:  5px -5px 0px #1e1c2f,
             -5px 5px 0px #625a97;
    
} */


.outerBox>.chartBorder,.infoBox{

    background-color: #625a97;
    border: 1px solid #1e1c2f;
    width: 90%;
    margin: 6px;
    border-radius: 15px;
    height: 20%;
    
    
    font-weight: bold;
    margin: 6px;
}
.infoBox{
    display: flex;

    padding: 2%;
    
}

.infoBox>.addToPort,.positionType{

  
    width: 100%;
    border: 1px solid #1e1c2f;
    margin: 2%;
    
}

.positionType{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.radio{
    
    margin: 2%;
    border: 1px solid #1e1c2f;
    text-align: center;
}

.chartBorder{
    padding: 2%;
    z-index: 0;
}

