/* .hell{
    width: 90%;
}
.chartBox{
    background:#a9a9a9ed;
    flex-direction: column;
    display: flex;
    
    align-items: center;
    justify-content: center;
 
    margin: 2%;
    height: 90vh;
    width: 45%;
    border-radius: 26px;
    background: #403b63;
    box-shadow:  5px -5px 0px #1e1c2f,
             -5px 5px 0px #625a97;
    
} */

.chartBorder{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #625a97;
    border: 1px solid #1e1c2f;
    padding: 2%;
    z-index: 0;
  
    
}
.extraInfoBox{
    
    background-color: #625a97;
    border: 1px solid #1e1c2f;
    width: 90%;
    margin: 6px;
    border-radius: 15px;
    height: 13%;
   
    text-align: center;
    font-weight: bold;
    
    

    /* border-radius: 26px;
    background: #403b63;
    box-shadow:  5px -5px 0px #1e1c2f,
             -5px 5px 0px #625a97; */
}

