.footer {
  
 
    width: 100%;
    height: 6vh;
    background-color: #625a97;
    color: black;
    position: relative;
    
}

.footerInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
