.App{
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.OuterBox{
  margin: 5%;
  border: 1px solid red;
  border-radius: 15px
}

.RecentPriceRow{
  margin: 5%;
  border: 1px solid red;
  border-radius: 15px
}

.PriceChartRow{
  display: flex;
}
.RightCol{

  flex: 50%;
  margin: 5%;
  
  border: 1px solid red;
  border-radius: 15px;
  
}

.LeftCol{
  flex: 50%;
  margin: 5%;
  border: 1px solid red;
  border-radius: 15px;
  
}